@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<MyFirstMvcApp.Models.Product>;    //link to the Product model 
@{
    ViewData["Title"] = "Product Page";
}
<h2>Welcome to the Product Page</h2>
<p>This is a custom page from your own controller!</p>
<h5>@ViewBag.Message</h5>
<h6>@ViewBag.Message2</h6>
<p><strong>Today’s Date & Time:</strong> @ViewBag.Date</p>

//add new product button
<p>
    <a class="btn btn-primary"href="/Product/Create">Add New Product</a>
</p>
@* Displaying a list of products in a table format *@
<h2>Product List</h2>

@if (Model.Count == 0)
{
    <p>No products available.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price (₹)</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
